@*
 * Copyright 2021 HM Revenue & Customs
 *
 *@

@this()

@()(implicit messages: Messages)

<nav class="lang" aria-label="@messages("language.switcher")">
    <ul>
        <li>
            @if(messages.lang.code == "en"){
                <span aria-current="true">@messages("language.english")</span>
            } else {
                <a href="@routes.LanguageSwitchController.switchToLanguage(models.Language.English)" hrefLang="en" lang="en" rel="alternate" class="govuk-link">
                    <span class="govuk-visually-hidden">@messages("language.change.english")</span>
                    <span aria-hidden="true">@messages("language.english")</span>
                </a>
            }
        </li>
        <li>
            @if(messages.lang.code == "cy"){
                <span aria-current="true">@messages("language.cymraeg")</span>
            } else {
                <a href="@routes.LanguageSwitchController.switchToLanguage(models.Language.Cymraeg)" hrefLang="cy" lang="cy" rel="alternate" class="govuk-link">
                    <span class="govuk-visually-hidden">@messages("language.change.cymraeg")</span>
                    <span aria-hidden="true">@messages("language.cymraeg")</span>
                </a>
            }
        </li>
    </ul>
</nav>