/*
    Custom CSS to stay consistent with old & new non standard components
*/

//  unbold the the inherited th's in the table that help improve accessibility but don't need to be bold
th.govuk-table__cell.date,
th.govuk-table__cell.movement-reference-number {
  font-weight: 400;
}

th.govuk-table__header.govuk-table__cell--numeric {
  font-weight: 700;
}

.govuk-table__cell.account-credited:last-child {
  border-right: 5px solid govuk-colour("light-green");
  padding-right: 5px;
}

.pending-cash-transactions {
  color: govuk-colour("dark-grey");
}

.govuk-panel__heading--span {
  display: inline-block;
  width: 40%;
  margin-right: 40px;
}
