@*
 * Copyright 2021 HM Revenue & Customs
 *
 *@

@this(
        layout: Layout,
        h1: components.h1,
        p: components.p
)

@()(implicit request: Request[_], messages: Messages, appConfig: AppConfig)

    @layout(Some(messages("cf.error.not-found.title")), help = false) {

    @h1("cf.error.not-found.heading", None)
    @p("cf.error.not-found.message.address-typed-wrong")
    @p("cf.error.not-found.message.address-pasted-wrong")

    <p class="govuk-body">@messages("cf.error.not-found.message.go-to-home-page-text1")
        <a href="@{appConfig.customsFinancialsFrontendHomepage}" class="govuk-link govuk-link--no-visited-state">
        @messages("cf.accounts.view-customs-account")</a> @messages("cf.error.not-found.message.go-to-home-page-text2")
    </p>
    }
