@*
 * Copyright 2021 HM Revenue & Customs
 *
 *@

@this(
        layout: Layout,
        h1: components.h1,
        h2: components.h2,
        p: components.p,
        hmrcNewTabLink: HmrcNewTabLink
)

@()(implicit request: Request[_], messages: Messages, appConfig: AppConfig)

    @layout(Some(messages("cf.not-subscribed-to-cds.detail.title")), help = false) {
        @h1("cf.not-subscribed-to-cds.detail.heading", None)
        @h2("cf.not-subscribed-to-cds.detail.how-to-get-access-info", None)
        <p class="govuk-body">
            @messages("cf.not-subscribed-to-cds.detail.eori-info")
            @hmrcNewTabLink(
                NewTabLink(
                    language = Some(messages.lang.toString),
                    classList = Some("govuk-link"),
                    href=Some(appConfig.registerCdsUrl),
                    text=messages("cf.not-subscribed-to-cds.detail.eori-link")
                )
            )
            .
        </p>

        <p class="govuk-body">
            @messages("cf.not-subscribed-to-cds.detail.get-access-info")
            @hmrcNewTabLink(
                NewTabLink(
                    language = Some(messages.lang.toString),
                    classList = Some("govuk-link"),
                    href=Some(appConfig.subscribeCdsUrl),
                    text=messages("cf.not-subscribed-to-cds.detail.get-access-link")
                )
            )
            .
        </p>

        <p class="govuk-body">
            @messages("cf.not-subscribed-to-cds.detail.process-application-info")
        </p>
    }
